---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  color:#069;
  font-weight:normal;
  text-decoration: underline;
}

.navigate {
  a {
    color:#267CB9;
    font-weight:bold;
    text-decoration:none
  }
  
  a:hover, a:focus {
    color:#069;
    font-weight:bold;
    text-decoration: underline;
  }
}
